
@{
    ViewData["Title"] = "Login2";
}

<h1>Login successful</h1>
<h3>You have successfully logged into the car rental service</h3>

<h5>For security reasons, Please Log Out and Exit your web browser when you are done accessing services that require authentication</h5>